@import "bootstrap/dist/css/bootstrap.css";

/* General styles */
body,
html {
  font-family: "Montserrat", sans-serif;
  display: grid;
}

/* First load */
#firstLoad {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Button */
#button {
  transition: transform 0.5s ease;
}

/* Control */
#control {
  text-align: center;
}

/* Profile picture */
#pfp {
  display: grid;
  place-items: center;
  align-items: center;
}

#image {
  animation: pulse 2s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0% {
    border: 7px solid #ff3d77;
    transform: scale(1, 1);
  }
  50% {
    border: 7px solid #b933f9;
    transform: scale(1.0075, 1.0075);
  }
  100% {
    border: 7px solid #5f19dd;
    transform: scale(1, 1);
  }
}

/* Pancake class */
.Pancake {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  place-items: center;
}

/* Image */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Card */
.card {
  text-align: center;
  display: inline-flex;
  margin: 3vw;
  margin: 5vh;
  border-radius: 10px;
  padding: 8px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/* App class */
.App {
  display: grid;
  place-items: center;
}

/* Footer */
.Footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  place-items: center;
  /* background: #efdcf9; */
}

/* Header */
.Header {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100vw;
  /* background: #efdcf9; */
}

/* Header and Footer links */
#home-link,
#projects-link,
#blog-link,
#footer {
  padding: 1.5rem;
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  /* background: #efdcf9; */
  transition: transform 0.5s ease;
  margin-left: 2vw;
  margin-right: 2vw;
}

#home-link:hover,
#projects-link:hover,
#blog-link:hover,
#footer:hover {
  color: magenta;
  transform: translateY(-3px);
}

/* Bouncing dot animation */
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-50px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

#dot {
  color: var(--red);
  display: inline-flex;
  -webkit-animation-name: bounce;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 2;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: 2;
  -webkit-text-fill-color: #b933f9;
  color: #5a03fc;
}

/* App link */
.App-link {
  text-underline-offset: 4px;
  padding-bottom: 1px;
  /* color: blueviolet; */
  color: #0000ff;
  position: relative;
  margin-top: 15px;
  animation: floatAnimation 3s ease-in-out infinite;
  display: inline-flex;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  transition: transform 0.5s ease;
  border-radius: 0.5vh;
  transition: color 0.3s ease, background-color 0.3s ease;
  /* background: white; */
  background-size: contain;
}
/* Floating animation */
@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.App-link:hover {
  background: #f22952;
  color: white;
}

/* Name */
.name {
  background: -webkit-linear-gradient(
    -45deg,
    #ffa63d,
    #ff3d77,
    #b933f9,
    #5f19dd
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.75rem;
  padding-top: 3rem;
  letter-spacing: -0.1rem;
}

/* Skills */
#skills {
  background: -webkit-linear-gradient(-45deg, #ff3d77, #b933f9, #5a03fc);
  font-size: 1.17rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Card Title */
#cardTitle {
  background: -webkit-linear-gradient(-45deg, #ff3d77, #b933f9, #5a03fc);
  font-size: 1.5rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Links */
#links {
  padding-bottom: 6vh;
}

/* Hover effect on links */
/* a {
  display: inline-flex;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  transition: transform 0.5s ease;
  border-radius: 0.5vh;
  transition: color 0.3s ease, background-color 0.3s ease;
  background-size: contain;
} */

/* a:hover {
  background: #f22952;
  color: white;
} */

body {
  background: linear-gradient(-45deg, #ffedc1, #eaa6e4);
  background-size: 700% 700%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    color: #000000;
  }
  50% {
    background-position: 100% 50%;
    color: #ffffff;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Header a.active {
  text-decoration: underline;
}
/* Blog home */
.BlogHome {
  padding: 30px;
  /* align-items: flex-start; */
}
#black {
  color: black;
}
#BlogClick {
  transition: color 0.3s ease, background-color 0.3s ease;
  text-underline-offset: 4px;
  border-radius: 1vh;
}

.BlogIndi {
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  min-width: none;
  padding: 30px;
  margin: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media only screen and (max-width: 600px) {
  .BlogIndi {
    padding: 5px;
    max-width: 300px;
  }
}
#BlogLink {
  color: black;
}
ul {
  color: black;
}
