@import "bootstrap/dist/css/bootstrap.css";
body,
html {
  font-family: "Montserrat", sans-serif;
  display: grid;
}
/* * {
  background-color: #efebe0;
} */
#button {
  transition: transform 0.5s ease;
}
#control {
  text-align: center;
}

.Pancake {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  place-items: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card {
  text-align: center;
  display: inline-flex;
  margin: 3vw;
  margin: 5vh;
}

a {
  display: inline-flex;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  transition: transform 0.5s ease;
  border-radius: 0.5vh;
  transition: color 0.3s ease, background-color 0.3s ease;
  background: white;
  background-size: contain;
}

h1 {
  font-size: 4vh;
}

h4 {
  font-size: 2vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
a:hover {
  background: #f22952;
  color: white;
}

.card {
  border-radius: 10px;
  padding: 8px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

  cursor: pointer;
}
.card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.App {
  display: grid;
  place-items: center;
}
.Footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  place-items: center;
  background: #efdcf9;
}
.Header {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100vw;
  background: #efdcf9;
}
#home-link {
  padding: 1.5rem;
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  background: #efdcf9;
  transition: transform 0.5s ease;
}
#projects-link {
  padding: 1.5rem;
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  background: #efdcf9;
  transition: transform 0.5s ease;
}

#footer {
  padding: 1.5rem;
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
  background: #efdcf9;
  transition: transform 0.5s ease;
}
#home-link:hover {
  color: magenta;
  transform: translateY(-3px);
}

#projects-link:hover {
  color: magenta;
  transform: translateY(-3px);
}
#footer:hover {
  color: magenta;
  transform: translateY(-1.5px);
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-50px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

#dot {
  color: var(--red);
  display: inline-flex;
  -webkit-animation-name: bounce;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 2;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: 2;
  -webkit-text-fill-color: #b933f9;
  color: #5a03fc;
}

.App-link {
  text-underline-offset: 4px;
  padding-bottom: 1px;
  /* color: #c55ffc; */
  color: blueviolet;
}

.name {
  background: -webkit-linear-gradient(
    -45deg,
    #ffa63d,
    #ff3d77,
    #b933f9,
    #5f19dd
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.75rem;
  padding-top: 3rem;
  letter-spacing: -0.1rem;
}
#links {
  padding-bottom: 6vh;
}

#skills {
  background: -webkit-linear-gradient(-45deg, #ff3d77, #b933f9, #5a03fc);
  font-size: 1.17rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cardTitle {
  background: -webkit-linear-gradient(-45deg, #ff3d77, #b933f9, #5a03fc);
  font-size: 2.8vh;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
